
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root{
    
    height:100vh;
    overflow: hidden;
    font-family: 'Concert One', cursive;
    padding: 0;
    margin: 0;

}
.item{
    position: relative;
    width: 100%;
    height: 100%;
}
.homepage__tittle{
    margin-top: 20%;
    font-weight: 200;
    font-size: 100px;
    text-align: center;
    color: #F3ACCC;
}
.background__img{
    
    width: 100%;
    height: 100%;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 50% 50%;
    
}
.home__tittle{
    justify-content: center;
    font-size: 5rem;
    font-weight: 500;
    color :#016ae2;

}
/* button */

.glow-on-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #F3ACCC;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #F3ACCC
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e69292;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
